PSC_BTN_BACK BITMAP "../resources/Bitmap_1.bmp"
PSC_BTN_CANCEL BITMAP "../resources/Bitmap_2.bmp"
PSC_BTN_CLOSEWIN BITMAP "../resources/Bitmap_3.bmp"
PSC_BTN_COLORIZE BITMAP "../resources/Bitmap_4.bmp"
PSC_BTN_COLOR_ALPHA BITMAP "../resources/Bitmap_5.bmp"
PSC_BTN_COLOR_BRUSH BITMAP "../resources/Bitmap_6.bmp"
PSC_BTN_COLOR_FILL BITMAP "../resources/Bitmap_7.bmp"
PSC_BTN_DELETE BITMAP "../resources/Bitmap_8.bmp"
PSC_BTN_FILTER BITMAP "../resources/Bitmap_9.bmp"
PSC_BTN_FONT_BOLD BITMAP "../resources/Bitmap_10.bmp"
PSC_BTN_FONT_ITALIC BITMAP "../resources/Bitmap_11.bmp"
PSC_BTN_FONT_UNDERLINE BITMAP "../resources/Bitmap_12.bmp"
PSC_BTN_FORWARD BITMAP "../resources/Bitmap_13.bmp"
PSC_BTN_GO BITMAP "../resources/Bitmap_14.bmp"
PSC_BTN_HELP BITMAP "../resources/Bitmap_15.bmp"
PSC_BTN_INDENT BITMAP "../resources/Bitmap_16.bmp"
PSC_BTN_LIST_BULLETED BITMAP "../resources/Bitmap_17.bmp"
PSC_BTN_NEWDOC BITMAP "../resources/Bitmap_18.bmp"
PSC_BTN_NEWDOC_XP BITMAP "../resources/Bitmap_19.bmp"
PSC_BTN_OPEN BITMAP "../resources/Bitmap_20.bmp"
PSC_BTN_OPENFILTER BITMAP "../resources/Bitmap_21.bmp"
PSC_BTN_OUTDENT BITMAP "../resources/Bitmap_22.bmp"
PSC_BTN_RUNFILTER BITMAP "../resources/Bitmap_23.bmp"
PSC_BTN_SAVE BITMAP "../resources/Bitmap_24.bmp"
PSC_BTN_SAVEFILTER BITMAP "../resources/Bitmap_25.bmp"
PSC_BTN_SAVE_XP BITMAP "../resources/Bitmap_26.bmp"
PSC_BTN_SEARCH BITMAP "../resources/Bitmap_27.bmp"
PSC_BTN_SEARCHFIRST BITMAP "../resources/Bitmap_28.bmp"
PSC_BTN_SEARCHLAST BITMAP "../resources/Bitmap_29.bmp"
PSC_BTN_SEARCHNEXT BITMAP "../resources/Bitmap_30.bmp"
PSC_BTN_SEARCHPREV BITMAP "../resources/Bitmap_31.bmp"
PSC_BTN_SELECTNULL BITMAP "../resources/Bitmap_32.bmp"
PSC_BTN_SELECTTODAY BITMAP "../resources/Bitmap_33.bmp"
PSC_BTN_SORTASC BITMAP "../resources/Bitmap_34.bmp"
PSC_BTN_SORTASC_SMALL BITMAP "../resources/Bitmap_35.bmp"
PSC_BTN_SORTDESC BITMAP "../resources/Bitmap_36.bmp"
PSC_BTN_SORTDESC_SMALL BITMAP "../resources/Bitmap_37.bmp"
PSC_BTN_TEXTALIGN_CENTER BITMAP "../resources/Bitmap_38.bmp"
PSC_BTN_TEXTALIGN_JUSTIFY BITMAP "../resources/Bitmap_39.bmp"
PSC_BTN_TEXTALIGN_LEFT BITMAP "../resources/Bitmap_40.bmp"
PSC_BTN_TEXTALIGN_RIGHT BITMAP "../resources/Bitmap_41.bmp"
PSC_IMG_CLOCK BITMAP "../resources/Bitmap_42.bmp"
PSC_IMG_DATE BITMAP "../resources/Bitmap_43.bmp"
PSC_TRUETYPEIMG BITMAP "../resources/Bitmap_44.bmp"
PSC_LEFTARROW CURSOR "../resources/Cursor_1.cur"
